:host ::ng-deep .ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}

:host ::ng-deep .ant-tabs-bar {
  margin-bottom: 0;
}


.news-list_item {
  display: flex;
  padding: 7px 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.news-list_item_img{
  width: 90px;
  height: 70px;
}

.news-list_item_img>img{
  width: 90px;
  height: 70px;
}

.news-list_item_info {
  width: 100%;
  margin-left: 15px;
  height: 60px;
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: space-between
}

.news-list_item_info_title{
  font-weight: bold;
  font-size: 14px;
}

.news-list_item_info_read {
  color: gray;
  text-align: right
}


/*手写的*/
.home{
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
  }

.news-brief{
  margin-top:0.2rem;
}
.newsListWrapper{
  position:absolute;
  overflow: hidden;
  top: 83.5px;
  bottom: 0rem;
  left: 0;
  right: 0
}
