<div class="home">
  <app-header title="首页"></app-header>
  <nz-tabset>
    <nz-tab *ngFor="let tab of tagList" (nzSelect)="changeTabs.bind(this)(tab)">
      <ng-template #nzTabHeading>
        {{tab.name}}
      </ng-template>
    </nz-tab>
  </nz-tabset>

  <div id="newsListWrapper" class="newsListWrapper">
    <div class="scroller">
      <div style="height:160px">
        <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let banner of bannerList">
              <img src="{{banner.pic}}" alt="img" style="height:100%;width:100%;">
            </div>
          </nz-carousel>
      </div>

      <div class="news-list" *ngIf="newsList.length>0">
        <div class="news-list_item" *ngFor="let item of newsList" (click)="gotoDetail(item)">
          <div class="news-list_item_img">
              <img src="{{item.litpic.includes('http') ? item.litpic : 'http://211.149.160.35' + item.litpic}}" alt="{{item.title}}">
          </div>
          <div class="news-list_item_info">
            <div class="news-list_item_info_title">{{item.title}}</div>
            <div class="news-list_item_info_read">阅读数: {{item.click}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



